Requirement :

Library - Microsoft DirectX SDK (June 2010)
{
	Include Directories : Include Folder
	Library Directories : x64 Lib || x86 Lib
}
Library - ImGui
{
	imgui_impl_dx11 -- DirectX Version 11
	imgui_impl_win32 -- Win32 for x64 & x86 
}
